h1 JADE TEMPLATE ENGINE
hr
h2= name
ul
    li
        | Session ID:
        = ' ' + sessionId
    li
        | Requested:
        = ' ' + requested
    li
        each i in items
            = func1(i.a)
    li
        = func2(description)

= renderPartial('d1_a.html.ejs', { items: items })
= renderPartial('d1_b.html.jade', { items: items })