<h1>Welcome to Guaraiba application.</h1>
<hr/>

<ul>
    <li><a href="/demos/d1.html">EJS TEMPLATE ENGINE:</a></li>
    <hr/>
    <li><a href="/demos/d2.html">JADE TEMPLATE ENGINE:</a></li>
    <hr/>
    <li><a href="/demos/d4.html">HANDLEBARS TEMPLATE ENGINE:</a></li>
    <hr/>
    <li><a href="/demos/d5.pdf">JASPERREPORT TEMPLATE ENGINE WITH DATASOURCE FROM DATABASE:</a></li>
    <hr/>
    <li><a href="/demos/d6.pdf">JASPERREPORT TEMPLATE ENGINE WITH DATASOURCE FROM JSON FILE:</a></li>
    <hr/>
</ul>
